GOALIAS_SERVER_IP=127.0.0.1
GOALIAS_DOMAIN_NAME=example.com
GOALIAS_MAIL_USERNAME=username
GOALIAS_MAIL_PASSWORD=<MAIL_PASSWORD>
GOALIAS_PASSWORD=<PASSWORD>
GOALIAS_DB_USERNAME=username
GOALIAS_SMS_ID=<SMS_ID>
GOALIAS_SMS_SECRET=<SMS_SECRET>